@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(241, 241, 241);
}

h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    display: inline-block;
    position: relative;
    top: -12.5px;
    left: 5px;
}
#menu {
    background: rgb(126, 126, 126);
}
#chess-logo-container {
    margin: 5px 0 0 5px;
    width: 45px;
    height: 40px;
    display: inline-block;
}
.chess-row {
    background-color: transparent;
}
#chess-row-2 {
    margin-top: -4px;
    height: 25px;
}
.logo-tile {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#logo-tile-1{margin-right:-4px;}#logo-tile-3{margin-right:-4px;}

.black {
    background-color: black;
}
.white {
    background-color: white;
}

#timer-container {
    background: rgb(126, 126, 126);
    border-radius: 25px;
    max-width: 780px;
    width: 310px;
    margin: 170px auto 60px auto;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    font-weight: bolder;
    flex-direction: row;
}
.timer {
    width: 110px;
    height: 60px;
    background-color: aqua;
    display: inline-block;
    text-align: center;
    padding: 12.5px 19px;
    border: 1px solid;
    margin: 0 20px;
    border-radius: 10px;
}
#timer1 {
    background-color: black;
    color: white;
    border: 2px solid white;
}
#timer2 {
    background-color: white;
    color: black;
    border: 2px solid black;
}



#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aliceblue;*/
    padding: 1px;
    margin: 0 0 10px 0;
}

.button {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    font-size: 13pt;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 15px;
    transition: .2s;
    font-weight: 600;
}
.button:hover {
    background: rgb(200, 200, 200);
}
.button:active {
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
}

@media (min-width: 750px) {
    #timer-container {
        width: 700px;
    }
    .timer {
        margin: 0 50px;
    }
}